/* <!-- 4.] on click change font size like if you click on +font then font size would be inc and if you click on -font then font size would be Dec   --> */
/* <!-- 2.] on click button show popup  --> */

body {
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    background-image: url('curve-shap-bg.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}


.container header.header {
    padding: 100px 0 0 0;
}

.header h1#text {
    text-align: center;
    font-size: 34px;
    color: #000000;
    font-family: cursive;
    text-transform: capitalize;
}

.font-dec,
.font-inc {
    text-align: center;
    padding: 20px 0;
}

.button-sec .font-dec-btn,
.button-sec .font-inc-btn {
    border: none;
    background-color: #beb8b8ba;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-family: cursive;
    border: 2px solid transparent;
    border-radius: 35px;
    outline: none;
    text-align: center;
    display: inline-block;
    transition: 0.3s;
    min-width: 200px;
}

.button-sec .font-dec-btn:hover,
.button-sec .font-inc-btn:hover {
    color: #000000;
    background: transparent;
    border-color: #000000;
}