/* <!-- 2.] on click button show popup  --> */

body {
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    background-color: #a2dff2;
    height: 100%;
    text-align: center;
}


.container header.header {
    padding: 100px 0 0 0;
}

.header h1#text {
    text-align: center;
    font-size: 34px;
    color: #000000;
    font-family: cursive;
    text-transform: capitalize;
}

#button_div {
    text-align: center;
    padding: 20px 0;
}

#button_div button#button {
    border: none;
    background-color: #beb8b8ba;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-family: cursive;
    border: 2px solid transparent;
    border-radius: 35px;
    outline: none;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    transition: 0.3s;
}

#button_div button#button:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

.text-color {
    font-family: cursive;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    line-height: normal;
    padding: 20px 0;
}

.body-text-color {
    font-family: cursive;
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    line-height: normal;
}